<html>
  <title>{{PageTitle}}</title>
  <body>
	<h1>People</h1>
	<ul>
    {{#People}}
	    <li>
		    <div>Name: {{Name}}</div>
			<div>Age: {{Age}}</div>
		</li>
	{{/People}}
  </body>
</html>