<html>
  <title>{{PageTitle}}</title>
  <body>
	<h1>People</h1>
	<ul>
    {{#People}}
	    <li>
		    <div>Name: {{Name}}</div>
			<div>Age: {{Age}}</div>
			<h2>Child</h2>
			{{#Child}}
				<div>Child: {{Name}}/{{Age}}</div>
			{{/Child}}
			{{^Child}}
				<div>No child</div>
			{{/Child}}
		</li>
	{{/People}}
	{{^People}}
		<div>NO PEOPLE</div>
	{{/People}}
  </body>
</html>