@using WebDSL;
@model dynamic
<html>
  <title>@Model.PageTitle</title>
  <body>
	<h1>People</h1>
	<ul>
    @if(Model.People != null) { foreach(dynamic item1 in WebDSLExtensions.GetCollection(Model.People)) { <text> 
	    <li>
		    <div>Name: @item1.Name</div>
			<div>Age: @item1.Age</div>
		</li>
	 </text> }}
  </body>
</html>